
<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="banner_item align-items-center" style="background-image: url(../Content/assests/images/image4.jpg) ">
                    <div class="banner_category">
                        <a href="phong-tro">Phòng trọ giá rẻ</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="banner_item align-items-center" style="background-image: url(../Content/assests/images/image4.jpg) ">
                    <div class="banner_category">
                        <a href="phong-tro">Phòng trọ tiện nghi</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*@{
        ViewBag.Title = "_MenuBookingHotel";
        Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    }*@

